body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar, .navbar-inverse {
  background-color: #336699;
  border: none;
}

.nav li {

}
.navbar-inverse .navbar-nav > li > a {
  color:white;

}
.navbar-inverse .navbar-nav li a:hover {
  background-color:#7094DB;

}
.navbar-brand .navbar a{
  color:white;
}
