body {
  padding-top: 50px;
  background-color:white;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-inverse {
  background-color: #336699;
  border: none;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color:white;
}
.navbar-inverse .navbar-nav > .active,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: white;
  background-color: #FF9933;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color:white;
  color: #336699;
}
.navbar-inverse .navbar-toggle .icon-bar
{
  background-color: #99B2CC;
}
.navbar-inverse .navbar-toggle:focus .icon-bar, 
.navbar-inverse .navbar-toggle:hover .icon-bar {
  background-color: white;
}
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #336699;
  border:none;
}
.carousel-fade .carousel-inner .item {
  -webkit-transition: opacity 1.0s ease-in-out;
  -moz-transition: opacity 1.0s ease-in-out;
  -ms-transition: opacity 1.0s ease-in-out;
  -o-transition: opacity 1.0s ease-in-out;
  transition: opacity 1.0s ease-in-out;
  opacity:0;
}
.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
  background: none;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
  background: black;
}
