<footer>
  <div class="footer-wrapper">
    <!-- <div class="footer-top"></div> -->
    <div class="footer-bottom">
      <p>Built with <i class="fa fa-heart-o"></i> by Ben Pinegar<br><i class="fa fa-copyright"></i> 2014</p>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<!-- countdown JS -->
