/* global styling */
body {
  background-color: #f7f7f7;
  padding-top: 50px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 7.5%;
  padding-left: 7.5%;
}

.navbar {
  border: none;
  background-color: rgba(0,0,0,0.5);
  text-shadow: none;
  font-size: 16px;
}

/* change navbar brand colors*/
.navbar .navbar-brand,
.navbar .navbar-brand > a {
  font-size: 28px; 
  font-family: "Pacifico", cursive;
  color: white;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand > a:hover {
  color: yellow;
}

/* change navbar link colors*/
.navbar .navbar-nav > li > a {
  color: white;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: white;
  background: none;
  /*background-color: rgba(0,0,0,0.2);*/
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: orange;
  background: none;
  /*background-color: rgba(0,0,0,0.2);*/
}

/* set navbar toggle colors and opacity*/
.navbar .navbar-toggle .icon-bar
{
  background-color: white;
  opacity: .5;
}
.navbar .navbar-toggle:focus .icon-bar, 
.navbar .navbar-toggle:hover .icon-bar {
  opacity: 1;
}
.navbar-toggle {
  margin-right: 5px;
}
.navbar .navbar-toggle,
.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover {
  background-color: transparent;
  border:none;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
  background: black;
  max-height: 500px;
}

/* carousel fade effect */
.carousel-fade .carousel-inner .item {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity:0;
  background: black;
}
.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
  color: white;
  background: none;
  text-shadow: none;
}
.carousel-fade .carousel-control:hover
.carousel-fade .carousel-control:focus {
  opacity: 1;
}
.carousel-fade .carousel-indicators li {
  border: none;
  background-color: white;
  opacity: 0.5;
}
.carousel-fade .carousel-indicators > .active {
  border: none;
  background-color: white;
  opacity: 1;
}

/* responsive css */
@media (min-width: 768px) {
body {
  padding-top: 75px;
}
.container-fluid {
  padding-right: 20%;
  padding-left: 20%;
}
.navbar .navbar-brand,
.navbar .navbar-brand > a {
    font-size: 44px;
  }
.navbar-brand,
.navbar-nav li a {
    line-height: 45px;
    height: auto;
}
}
